body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {

    font-size: 50px;
}

.a {
    color: blue;
}

.flex {
    display: flex;
    margin-bottom: 10px;
}

.b {
    width: 50%;
    padding-left: 100px;
    padding-top: 50px;
}

.b img {
    width: 80%;
    padding-left: 100px;
    padding-top: 100px;
}

.d {

    width: 82%;

}

.e {
    text-decoration: none;
    color: aliceblue;
    background-image: linear-gradient(orange, tomato);
    width: 80px;
    height: 40;
    padding: 5px 20px;
    height: 15 px;

    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    border-radius: 10px;


}

.background-img {

    display: flex;

    background-image: url(top-banner.png);
    background-repeat: no-repeat;


}

.Dream {


    margin-top: 20px;
    background-image: url(dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.pic {

    width: 50px;


}

.Experience {
    padding-left: 50px;
}

.half {

    width: 60%;
    padding-left: 80px;
    padding: 80px;

}

footer {
    text-align: center;
}

.color {
    color: orange;
}

#last {

    border-left: 5px solid red;
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;

}

#one {
    margin-left: 100px;
    border-left: 5px solid rgb(76, 0, 255);
    box-shadow: 10px 10px 40px gray;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;


}

.back {

    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}